language: node_js
node_js:
- 12
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_a626daabe3df_key -iv $encrypted_a626daabe3df_iv
  -in .travis/deploy_key.enc -out .travis/deploy_key -d
- docker build -t xatabch/branch_deploy .
- docker run -d xatabch/branch_deploy
- docker ps -a
deploy:
- provider: script
  script: deploy.sh
  on:
    branch: production
script: npm test
